.songs-list{
  &__topbar {
    padding: 12px;
    display: flex;
    background-color: #c7c69b;
    box-shadow: 0 0 4px 0 rgba(#6b6b6b, 0.5);
    border-radius: 5px;
    margin: 40px 0;
    width: 100%;
  }
  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    grid-gap: 16px;
  }
  &__item {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 380px;
    background-color: #b6cad2;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      background-color: cadetblue;
      color: #fff;
      transform: scale(1.05);
    }
  }
}
